<%= link_to("<<back to full list", {:action=>"list"}, :class=>"back-link") %>
<div class="sticky note delete">
<h2>Delete sticky note</h2>
<%= form_for(:note, :url=>{:action=>"destroy", :id=>@note.id}) do |f| %>
<p>Are u sure u wanna delete this note?</p>
<p class="reference-name"><%=@note.title%></p>

<div class="form-buttons">
<%= submit_tag("Delete sticky note") %>
</div>
<% end -%>
</div>