<%= link_to("<<back to full list", {:action=>"list"}) %>
<div>
<h2>Delete sticky note</h2>
<%= form_for(:note, :url=>{:action=>"destroy", :id=>@note.id}) do |f| %>
<p>Are u sure u wanna delete this note?</p>
<p><%=@note.title%></p>

<div>
<%= submit_tag("Delete sticky note") %>
</div>
<% end -%>
</div>