<table summary="Schools form fields">



<tr >
<td><%=f.label(:name) %>*</td>
<td><%=f.text_field(:name) %></td>
</tr>


<tr >
<td><%=f.label(:details) %></td>
<td><%=f.text_area(:detail, :size=>"50*5") %></td>
</tr>


</table>
