<%= link_to("<<back to full list", {:action=>"list"}) %>
<div>
<h2>Delete staff department</h2>
<%= form_for(:staffdepartment, :url=>{:action=>"destroy", :id=>@staffdepartment.id}) do |f| %>
<p>Are u sure u wanna delete this staff department?</p>
<p><%=@staffdepartment.name%></p>

<div>
<%= submit_tag("Delete staff department a/c") %>
</div>
<% end -%>
</div>