<table summary="Schools form fields">



<tr >
<td><%=f.label(:name) %>*</td>
<td><%=f.text_field(:name) %></td>
</tr>


<tr >
<td><%=f.label(:Standard_Id) %>*</td>
<td><%=f.text_field(:standard_id) %></td>
</tr>



</table>
