<%= link_to("<<back to full list", {:action=>"list"}) %>
<div>
<h2>Delete Section</h2>
<%= form_for(:sect, :url=>{:action=>"destroy", :id=>@sect.id}) do |f| %>
<p>Are u sure u wanna delete this Section?</p>
<p><%=@sect.name%></p>

<div>
<%= submit_tag("Delete Section") %>
</div>
<% end -%>
</div>