<%= link_to("<<back to full list", {:action=>"list"}, :class=>"back-link") %>
<div class="sticky note delete">
<h2>Delete Event Alert</h2>
<%= form_for(:note, :url=>{:action=>"destroy", :id=>@note.id}) do |f| %>
<p>Are u sure u wanna delete this Event Alert?</p>
<p class="reference-name"><%=@note.name%></p>

<div class="form-buttons">
<%= submit_tag("Delete Event Alert") %>
</div>
<% end -%>
</div>