<%= link_to("<<back to full list", {:action=>"list"}) %>
<div>
<h2>Deleting staffcategory categories</h2>
<%= form_for(:staffcategory, :url=>{:action=>"destroy", :id=>@staffcategory.id} ) do |f| %>
<p>Are u sure u wanna delete this staffcategory categories?</p>
<p><%=@staffcategory.name%></p>

<div>
<%= submit_tag("Delete staffcategory category a/c") %>
</div>
<% end -%>
</div>