<%= link_to("<<back to full list", {:action=>"list"}) %>
<div>
<h2>Deleting staff categories</h2>
<%= form_for(:staff, :url=>{:action=>"destroy", :id=>@staff.id} ) do |f| %>
<p>Are u sure u wanna delete this staff categories?</p>
<p><%=@staff.name%></p>

<div>
<%= submit_tag("Delete staff category a/c") %>
</div>
<% end -%>
</div>