<%= link_to("<<back to full list", {:action=>"list"}) %>
<div>
<h2>Delete Subject account</h2>
<%= form_for(:subject, :url=>{:action=>"destroy", :id=>@subject.id}) do |f| %>
<p>Are u sure u wanna delete this Subject a/c?</p>
<p><%=@subject.name%></p>

<div>
<%= submit_tag("Delete Subject account") %>
</div>
<% end -%>
</div>