<%= link_to("<<back to full list", {:action=>"list"}, :class=>"back-link") %>
<div class="Subject account delete">
<h2>Delete Subject account</h2>
<%= form_for(:note, :url=>{:action=>"destroy", :id=>@note.id}) do |f| %>
<p>Are u sure u wanna delete this Subject a/c?</p>
<p class="reference-name"><%=@note.name%></p>

<div class="form-buttons">
<%= submit_tag("Delete Subject account") %>
</div>
<% end -%>
</div>