<%= link_to("<<back to full list", {:action=>"list"}) %>
<div>
<h2>Delete Board a/c</h2>
<%= form_for(:note, :url=>{:action=>"destroy", :id=>@note.id}) do |f| %>
<p>Are u sure u wanna delete this board a/c?</p>
<p><%=@note.name%></p>

<div>
<%= submit_tag("Delete Board a/c") %>
</div>
<% end -%>
</div>