<table summary="Schools form fields">



<tr >
<td><%=f.label(:name) %>*</td>
<td><%=f.text_field(:name) %></td>
</tr>

<tr >
<td><%=f.label(:School_Id) %>*</td>
<td><%=f.text_field(:school_id) %></td>
</tr>




</table>
