<%= link_to("<<back to full list", {:action=>"list"}) %>
<div>
<h2>Delete school</h2>
<%= form_for(:school, :url=>{:action=>"destroy", :id=>@school.id}) do |f| %>
<p>Are u sure u wanna delete this school?</p>
<p ><%=@school.name%></p>

<div>
<%= submit_tag("Delete school a/c") %>
</div>
<% end -%>
</div>